@font-face {
	font-family: Jura;
	src: url(../fonts/jura-v9-latin-regular.ttf);
	src: url(../fonts/jura-v9-cyrillic-ext_greek_vietnamese_cyrillic_greek-ext-regular.ttf);
}
*, html, body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	text-decoration: none;
	background-color: #F2F2F2;
}
.clear {
	clear: both;
}

 /* GLOBAL */

 


/* HEAD */
header {
	width: 100%;
	height: 900px;
}
#head {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #F2F2F2;
	z-index: 3;
}
#head_left {
	position: absolute;
	width: 280px;
	height: 60%;
	top: 40px;
	letter-spacing: 4px;
	left: 100px;
}
#head_left a {
	color: #1C1C1C;
	font-size: 15px;

}
#list {
	margin: 0 auto;
	margin-top: 8px;
	width: 30%;
	height: 80%;
}
#list div {
	float: left;
	height: 100%;
	width: 25%;
	margin:-left: 5px;
	text-align: center;
}
#list div a { 
	position: relative;
	top: 25px;
	width: 95%;
	height: 20px;
	vertical-align: middle;
	color: #1C1C1C;
}
#list div a:hover {
	color: #848484;
}
#home {
	width: 1280px;
	height: 853px;
	background: url(../img/home.jpg) no-repeat;
	margin: 0 auto;
}
#home h1, #home h2 {
	position: relative;
	background: rgba(55, 55, 55, 0);
	color: white;
	text-align: center;
	margin: 0 auto;
	z-index: 0;

}
#home h1 {
	width: 1000px;
	height: 100px;
	top: 250px;
	font-size: 110px;

}
#home h2 {
	width: 800px;
	height: 100px;
	top: 270px;
	font-size: 50px;
}
#but {
	position: relative;
	top: 300px;
	width: 200px;
	height: 60px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
}
#but a {
	width: 200px;
	height: 60px;
}
#but a input {
	width: 200px;
	height: 60px;
	border: none;
	background-color: #000;
	color: #fff;
	font-size: 17px;
}
#but a:hover input {
	background-color: #FE2E2E;
	color: #fff;
}


/* MAIN */

article {
	width: 1280px;
	height: 2000px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #fff;
}
#our_cll {
	width: 100%;
	height: 360px;
	background-color: #fff;
}
#our_cll h3 {
	letter-spacing: 4px;
	text-align: center;
	background: rgba(55, 55, 55, 0);
	font-size: 28px;
	font-family: Jura;
}
#our_cll #txt {
	width: 650px;
	height: 80px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	background-color: #fff;
}
#txt .str {
	width: 100%;
	height: 20px;
	text-align: center;
	margin-top: 5px;
	background: rgba(55, 55, 55, 0);
	font-size: 20px;
	font-family: Jura;
}



#mar {
	width: 100%;
	height: 10px;
	background-color: #F2F2F2;
}
#shop {
	width: 100%;
	height: 803px;
	margin-bottom: 20px;
}
#shop .lvl {
	width: 100%;
	height: 400px;
	margin-bottom: none;
}
.lvl .left, .lvl .middle, .lvl .right {
	float: left;
	width: 32.5%;
	height: 100%;
}
.lvl .left, .lvl .middle {
	margin-right: 1.25%;
}
.lvl img {
	width: 100%;
	height: 80%;
}
.lvl .sale {
	height: 30px;
	width: 130px;
	position: relative;
	display: block;
	top: 10px;
	margin: 0 auto;
	text-align: center;
	color: #151515;
	letter-spacing: 1px;
	font-size: 15px;
}
.lvl .sale_2 {
	height: 30px;
	width: 100px;
	position: relative;
	display: block;
	top: 1px;
	margin: 0 auto;
	text-align: center;
	color: #6E6E6E;
	font-size: 14px;
}



#reg {
	width: 100%;
	height: 700px;
	background-color: #fff;
	margin-top: 100px;
}
#rel {
	position: relative;
	width: 200px;
	height: 60px;
	top: -30px;
	left: 95px;
	background-color: #fff;
	z-index: 2;
}
#l, #r {
	height: 620px;
	background-color: #fff;
	margin-bottom: 0;
}
#l {
	float: left;
	width: 300px;
	margin-left: 90px;
}
#l pre {
	line-height: 51px;
	background-color: #fff;
}
#r {
	float: right;
	width: 500px;
	margin-right: 150px;
}
#r div, #r span, #r input, #r a {
	background-color: #fff;
	text-indent: 10px;
}
#r .one {
	width: 240px;
	height: 50px;
	float: left;
	margin-right: 10px;
	border: none;
	border-bottom: 1px solid #000;
	letter-spacing: 1px;
	font-size: 14px;
}
#r .two {
	width: 500px;
	height: 50px;
	float: left;
	border: none;
	border-bottom: 1px solid #000;
	letter-spacing: 1px;
	font-size: 14px;
}
#r .three {
	width: 500px;
	height: 150px;
	float: left;
	border: none;
	border-bottom: 1px solid #000;
	letter-spacing: 1px;
	font-size: 14px;
}
#r #send {
	display: block;
	height: 30px;
	width: 100px;
	margin: 0 auto;
	color: #000;
	margin-top: 10px;
}
#r span {
	width: 50%;
	height: 50px;
	float: left;
	margin-top: 175px;
	letter-spacing: 1px;
}
#r .five {
	float: left;
	width: 220px;
	height: 40px;
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
	margin-right: 10px;
}
#r .five:focus {
	border: 1px solid #585858;
}
#r .six {
	float: left;
	width: 180px;
	height: 41px;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	text-align: center;
}

footer {
	height: 70px;
	width: 100%;
	margin: 0;
	text-align: center;
}
footer span {
	position: relative;
	height: 20px;
	width: 100%;
	top: 25px;
}