body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff url("fon.svg") repeat-x;
    font-family: Verdana, Geneva, sans-serif;
}



header {
    width: 100%;
    margin-bottom: 5px;
}
header img {
    display: block;
    margin: 0 auto;
}
.gia {
    position: absolute;
    top: 80px;
    right: 550px;
    color: #090949;
    text-decoration: underline;
    font-size: 15px;
}
.gia:hover {
    color: #FF8000;
}
.obj {
    width: 980px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border: dashed blue 1px;
    font-size: 11px;
}
.above div, .under div {
    width: 140px;
    height: 28px;
    margin-bottom: 2px;
    border-radius: 16px 7px 16px 7px;
    background-color: #ffe2c6;
    float: left;
    text-align: center;
    background: linear-gradient(top, #FFF0E6, #FFD2B6);
    background: -moz-linear-gradient(top, #FFF0E6, #FFD2B6);
    background: -webkit-linear-gradient(top, #FFF0E6, #FFD2B6);
    background: -ms-linear-gradient(top, #FFF0E6, #FFD2B6);
    background: -o-linear-gradient(top, #FFF0E6, #FFD2B6);
}
.above div:hover, .under div:hover {
    background: linear-gradient(top, #FFF0E6, #FFD2B6);
    background: -moz-linear-gradient(bottom, #FFF0E6, #FFD2B6);
    background: -webkit-linear-gradient(bottom, #FFF0E6, #FFD2B6);
    background: -ms-linear-gradient(bottom, #FFF0E6, #FFD2B6);
    background: -o-linear-gradient(bottom, #FFF0E6, #FFD2B6);
}
.obj a {
    width: 140px;
    height: 30px;
}
.obj a p {
    display: block;
    position: relative;
    top: -5px;
}



article {
    margin: 0 auto;
    width: 980px;
    height: 1000px;
    border: dashed red 1px;
}
#opening {
    margin-left: 19.9%;
    width: 80%;
    height: 240px;
    border: dashed green 1px;
    border-top: 2px solid #006;
}
#variants {
    border: dashed yellow 1px;
    width: 95%;
    height: 100px;
    margin: 0 2.5%;
}
.v_15 div {
    
}
.v_610 {}
.v1115 {}
#opening h3 {
    margin-top: 2px;
}
#opening p {
    display: block;
    margin-top: 0;
    font-size: 14px;
}




a {
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    color: #006;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 700;
}